.name-style{
    background-color: slateblue;
    padding: 15px;
    width: 90%;
    color: white;
    font-style: italic;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h2-design{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;    
}

*{
    margin: 0;
    padding: 0;
}

.card{
    background-color: aquamarine;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    width: 30%;
    font-family: 'Trebuchet MS';
    line-height: 1.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-title{
    background-color: purple;
    color: white;
    padding: 5px;
    margin: 7px;
    width: 80%;
    margin: auto;
}

*{
    font-family: Consolas;
}

.card::selection{
    color: red;
}

.MatchInfo{
    color: antiquewhite;
}

.CircResult{
    color: aquamarine;
}

button{
    padding: 14px;
    margin: 4px;
    background-color: tomato;
    font-size: 20px;
}

input{
    width: 600px;
    height: 40px;
    font-size: 30px;
}